.container {
    align-items: center;
    background-color: #1c1c1c;
    color: wheat;
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    justify-content: center;
    width: 100%;
}

.form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.form input[type=text] {
    background-color: #2a2a2e;
    border-radius: 20px;
    border: .8px solid #3a3a3a;
    color: #daf4ff;
    font-size: 1rem;
    height: 3rem;
    margin-left: 1rem;
    outline: none;
    padding: .7rem;
    width: 75%;
}

.form input[type=submit] {
    background-color: #1c1c1c;
    border-radius: 20px;
    border: none;
    color: #0074D9;
    cursor: pointer;
    font-size: 2rem;
    height: 3rem;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: center;
    width: fit-content;
}

.form input[type=submit]:hover {
    transition: color .1s ease-in-out;
    color: #9ad0ff;
    animation-name: left-right;
    animation-duration: .4s;
    animation-iteration-count: infinite;
}

@keyframes left-right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(1rem);
    }

    100% {
        transform: translateX(0);
    }
}